.templateContent {
  max-height: 120px;
  overflow: auto;
}

.Templates {
  overflow: auto;
  /* width: 350px; */
  height: 75vh;
}
.ql-container {
  height: 210px !important;
}
.login-page{
  height: 85vh;
}