.templateContainer {
  width: 800px;
  padding: 10px 20px;
}
textarea {
  height: 300px;
}
.templateContent {
  max-height: 120px;
  overflow: auto;
}

.Templates {
  overflow: auto;
  width: 350px;
  height: 80vh;
}

.quill {
  height: 250px;
}
.ql-container {
  height: 210px !important;
}
